@{
    ViewBag.Title = "Datie Data Management";
}
<button class="btn btn-primary" onclick="AddShop(this, event)" style="margin-top: 20px;margin-left: 15px"> Add New Shop</button>
<div class="container body-content" style="margin-top: 30px;">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Shop Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Time Mid</th>
            <th>Price Mid</th>
            <th>Rate</th>
            <th>Delete</th>
            <th width="35px"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="dialog"></div>

@section Scripts {
    <script src="~/Scripts/Datie/datie.js"></script>
}
