@{
    ViewBag.Title = "Spam Management";
    var session = Session["User"];
}
@if (session != null)
{
    <div class="container body-content" style="margin-top: 30px;">
        <table id="table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>ShopID</th>
                    <th width="450">Content</th>
                    <th>Comment Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="dialog"></div>
}
else
{
    @Html.Partial("Error")
}

@section Scripts {
    <script src="~/Scripts/Spam/spam.js"></script>
}